section .icon-verified{
    color: var(--blue);
}
section h1{
    color: var(--title);
}
section p{
    color: var(--subtitle);
}
section .icons{
    color: var(--subtitle);
}
section .icons .icon:hover{
    color: var(--icon-hover);
    cursor: pointer;
}
@media (max-width : 1100px){
    section .animation{
        display: none;
    }
}